.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;


}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
p{
  text-align: center;
  margin-bottom: 30px;
}
.btn-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-btn{
        background-color: rgb(39, 107, 59);
        border: 1px solid gray;
        border-radius: 30px;
        width: 120px;
        color: #f4f4f4;
        align-items: center;
        padding: 8px;
        margin-top: 20px;
    }
.language-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
}

.language-card img {
  width: 34px;
  height: 44px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  h1{
    font-size: 1.7rem;
  }
}
